$font: "Havetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

//colors
$white: #fff;
$black: #000;
$maroon: #83333e;

html,
body {
  font-family: $font;
  font-size: 20px;
}

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    width: 1280px;
    min-width: 1280px;
  }

  @media (max-width: 1280px) {
    width: 976px;
    min-width: 976px;
  }

  @media (max-width: 976px) {
    width: 768px;
    min-width: 768px;
  }
}

header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo {
      a {
        font-weight: 1000;
        text-decoration: none;
        letter-spacing: 1;
        color: cornflowerblue;
      }
    }

    .navigation {
      nav {
        a {
          margin: 0 23px;
          text-decoration: none;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 18px
        }
      }
    }
  }
}
